:root {
    --main-color: #ffb900;
    --second-color: #00ff62;
    --third-color: #5900ff;
    --four-color: #4dfce0;
    --five-color: #ffd500;
  }
  .title{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
  }
  .second{
      font-size: xx-small;
      position: relative;
      top: 315px;
  }
  body {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
  }
  header {
    position: relative;
    z-index: 1;
    background-color: #000;
    height: 750px;
  }
  header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(img/pexels-sascha-hormel-1095814.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    z-index: -1;
    opacity: 0.3;
    filter: blur(5px);
  }
  header nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 25px 0;
    color: #fff;
  }
  h1 b {
    color: var(--main-color);
  }
  nav h1 {
    font-size: 2.25rem;
  }
  .menu a {
    text-decoration: none;
    color: #fff;
    padding: 7px;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.4s ease;
  }
  .menu a:hover {
    border-bottom: 1px solid var(--main-color);
    color: rgba(255, 255, 255, 0.39);
  }
  .search-buy i {
    font-size: 1.25rem;
    padding: 7px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .search-buy i:nth-child(2) {
    background-color: var(--main-color);
    color: #000;
    transition: all 0.4s ease;
  }
  .search-buy i:hover {
    color: rgba(255, 255, 255, 0.39);
  }
  .search-buy i:nth-child(2):hover {
    background-color: var(--second-color);
    color: #000;
  }
  header article {
    width: 400px;
    color: #fff;
    position: absolute;
    top: 300px;
    left: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  h2 {
    font-size: 4rem;
  }
  article h2 b {
    color: var(--second-color);
    letter-spacing: 5px;
  }
  article p {
    font-size: 15px;
    font-weight: 200;
    margin: 10px 0;
  }
  article .buttons {
    display: flex;
    justify-content: space-evenly;
  }